Repository vortexntnu/vortex-vkf: changes, and which Codecov flags are due for each by the changed paths.
All: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-numerical-integration, vortex-filtering-probability, vortex-filtering-utils

fix fail-fast??
  .github/workflows/run-unit-tests.yml
Due: none

fix mess
  .github/workflows/run-unit-tests.yml
Due: none

remove foxy and disable fail fast
  .github/workflows/run-unit-tests.yml
Due: none

added rolling test
  .github/workflows/run-unit-tests.yml
Due: none

experiment codecov.yml
  codecov.yml
Due: none

remove components
  codecov.yml
Due: none

more codecov expreiments
  codecov.yml
Due: none

Feature/auto testing (#14)
  codecov.yml
Due: none

updated readmes
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/models/README.md
Due: vortex-filtering-models, vortex-filtering-filters

progress
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/probability/gaussian_mixture.hpp
  vortex-filtering/include/vortex_filtering/probability/poisson.hpp
  vortex-filtering/test/dynamic_model_test.cpp
  vortex-filtering/test/ekf_test.cpp
  vortex-filtering/test/imm_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-probability

made changes outlined in @chrstrom's PR review
  vortex-filtering/CMakeLists.txt
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/test/CMakeLists.txt
Due: vortex-filtering-models, vortex-filtering-filters

fixed size error in imm mixing
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/probability/uniform.hpp
  vortex-filtering/include/vortex_filtering/utils/printers.hpp
  vortex-filtering/include/vortex_filtering/vortex_filtering.hpp
  vortex-filtering/test/imm_test.cpp
Due: vortex-filtering-filters, vortex-filtering-probability, vortex-filtering-utils

updated documentation
  README.md
  docs/vkf_class_diagram.md
  vortex-filtering/README.md
  vortex-filtering/include/vortex_filtering/filters/README.md
Due: vortex-filtering-filters

todo: pass state_names_ to mixing in imm filter
  .clang-format
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/test/imm_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters

Committing clang-format changes
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
Due: vortex-filtering-filters

Committing clang-format changes
  vortex-filtering/include/vortex_filtering/filters/ekf.hpp
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/models/sensor_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/probability/gaussian_mixture.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/include/vortex_filtering/probability/uniform.hpp
  vortex-filtering/include/vortex_filtering/utils/printers.hpp
  vortex-filtering/test/gtest_assertions.cpp
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/probability_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-probability, vortex-filtering-utils

imm filter done!
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/test/imm_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters

added support for specifying min and max state values
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/probability/uniform.hpp
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/probability_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-probability

more changes...
  .gitignore
  vortex-filtering/CMakeLists.txt
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/probability/uniform.hpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-probability

updated documentation
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/README.md
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/test/imm_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters

started on new IMM filter
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/README.md
  vortex-filtering/include/vortex_filtering/models/dynamic_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/numerical_integration/erk_methods.hpp
  vortex-filtering/include/vortex_filtering/probability/uniform.hpp
  vortex-filtering/test/imm_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-numerical-integration, vortex-filtering-probability

more changes...
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
Due: vortex-filtering-models, vortex-filtering-filters

Added ostream operator for MultivarGauss.
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/test/gtest_assertions.cpp
  vortex-filtering/test/imm_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-probability

progress
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/probability/gaussian_mixture.hpp
Due: vortex-filtering-filters, vortex-filtering-probability

mixing doesn't work as expectd
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/test/imm_test.cpp
Due: vortex-filtering-filters, vortex-filtering-probability

rebased from main
  vortex-filtering/CMakeLists.txt
  vortex-filtering/test/CMakeLists.txt
Due: none

changed state name system. Almost compiles
  vortex-filtering/include/vortex_filtering/filters/ekf.hpp
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/models/sensor_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/probability/gaussian_mixture.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/probability_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-probability

fixed imm mixing probs calculation
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/test/imm_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters

Update documentation
  README.md
  vortex-filtering/include/vortex_filtering/filters/README.md
Due: vortex-filtering-filters

started on new IMM filter
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
Due: vortex-filtering-models, vortex-filtering-filters

fixed readme
  vortex-filtering/include/vortex_filtering/filters/README.md
Due: vortex-filtering-filters

changed DynMod to DynModPtr across the package
  vortex-filtering/include/vortex_filtering/filters/ekf.hpp
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/test/ekf_test.cpp
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/ukf_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters

change gnuplot enable to check value of define
  vortex-filtering/CMakeLists.txt
  vortex-filtering/test/dynamic_model_test.cpp
  vortex-filtering/test/ekf_test.cpp
  vortex-filtering/test/numerical_integration_test.cpp
  vortex-filtering/test/probability_test.cpp
  vortex-filtering/test/ukf_test.cpp
Due: none

fixed const get_model of imm
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
Due: vortex-filtering-models

fixed model getters in imm model
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
Due: vortex-filtering-models

created classes for types based on macros
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/type_aliases.hpp
  vortex-filtering/include/vortex_filtering/vortex_filtering.hpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/types_test.cpp
Due: vortex-filtering-models

refactored ekf
  vortex-filtering/include/vortex_filtering/filters/ekf.hpp
  vortex-filtering/include/vortex_filtering/models/type_aliases.hpp
Due: vortex-filtering-models, vortex-filtering-filters

started changing all the types
  vortex-filtering/include/vortex_filtering/filters/ekf.hpp
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/sensor_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/type_aliases.hpp
  vortex-filtering/include/vortex_filtering/types/model_concepts.hpp
  vortex-filtering/include/vortex_filtering/types/type_aliases.hpp
  vortex-filtering/test/dynamic_model_test.cpp
  vortex-filtering/test/ekf_test.cpp
  vortex-filtering/test/types_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters

fixed cmakelists and package.xml for eigen
  vortex-filtering/CMakeLists.txt
  vortex-filtering/package.xml
  vortex-filtering/test/ipda_test.cpp
Due: none

Changed all except imm test
  vortex-filtering/CMakeLists.txt
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/models/sensor_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/sensor_models.hpp
  vortex-filtering/include/vortex_filtering/types/model_concepts.hpp
  vortex-filtering/include/vortex_filtering/types/type_aliases.hpp
  vortex-filtering/test/ekf_test.cpp
  vortex-filtering/test/sensor_model_test.cpp
  vortex-filtering/test/test_models.hpp
  vortex-filtering/test/types_test.cpp
  vortex-filtering/test/ukf_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters

Path conditions:
  vortex-filtering-models: any of: vortex-filtering/include/vortex_filtering/models
  vortex-filtering-filters: any of: vortex-filtering/include/vortex_filtering/filters
  vortex-filtering-numerical-integration: any of: vortex-filtering/include/vortex_filtering/numerical_integration
  vortex-filtering-probability: any of: vortex-filtering/include/vortex_filtering/probability
  vortex-filtering-utils: any of: vortex-filtering/include/vortex_filtering/utils, vortex-filtering/src/utils
