Repository vortexntnu/vortex-vkf: changes, and which Codecov flags are due for each by the changed paths.
All: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-numerical-integration, vortex-filtering-probability, vortex-filtering-utils

and ellipse
  vortex-filtering/include/vortex_filtering/utils/ellipse.hpp
  vortex-filtering/src/utils/ellipse.cpp
Due: vortex-filtering-utils

streamlined immipda step
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/ipda_test.cpp
Due: vortex-filtering-filters

fixed mode association update
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
Due: vortex-filtering-filters

All tests compile
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/ipda_test.cpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

all tests pass
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

✅ made immipda tests
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/include/vortex_filtering/probability/gaussian_mixture.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/src/utils/ellipse.cpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/immipda_test.cpp
  vortex-filtering/test/ipda_test.cpp
  vortex-filtering/test/pdaf_test.cpp
  vortex-filtering/test/probability_test.cpp
Due: vortex-filtering-filters, vortex-filtering-probability, vortex-filtering-utils

all tests compile
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/probability/gaussian_mixture.hpp
  vortex-filtering/test/immipda_test.cpp
Due: vortex-filtering-filters, vortex-filtering-probability

Added state class
  vortex-filtering/include/vortex_filtering/models/state.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/include/vortex_filtering/types/type_aliases.hpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/state_test.cpp
Due: vortex-filtering-models, vortex-filtering-probability

Added concept for gauss and state
  vortex-filtering/CMakeLists.txt
  vortex-filtering/include/vortex_filtering/types/general_concepts.hpp
  vortex-filtering/include/vortex_filtering/types/model_concepts.hpp
  vortex-filtering/test/types_test.cpp
Due: none

added docstring and minor changes
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

updated readme
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
Due: vortex-filtering-filters

Integrated state system into imm filter
  vortex-filtering/include/vortex_filtering/filters/ekf.hpp
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/models/sensor_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/state.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/immipda_test.cpp
  vortex-filtering/test/state_test.cpp
  vortex-filtering/test/types_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-probability

💡 cleaned up comments
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
Due: vortex-filtering-models, vortex-filtering-filters

✅ Fixed tests by removing tests that fail
  vortex-filtering/test/immipda_test.cpp
Due: none

cmake
  vortex-filtering/CMakeLists.txt
Due: none

🚀 reformat code
  vortex-filtering/test/pdaf_test.cpp
Due: none

hid plotting inside #define clause
  vortex-filtering/test/pdaf_test.cpp
Due: none

✅ added more tests
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

update cmake
  vortex-filtering/CMakeLists.txt
Due: none

Committing clang-format changes
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

ipda impl
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
Due: vortex-filtering-filters

removed fake pdaf in ipda
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
Due: vortex-filtering-filters

removed prints
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
Due: vortex-filtering-filters

Created new branch feature/pdaf
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

refactored pdaf to work with new type system
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/ipda_test.cpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

⚡️ Refactor plotting code in pdaf_test.cpp
  vortex-filtering/test/pdaf_test.cpp
Due: none

💫 adden min and max distance threshold
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/ipda_test.cpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

fixed gate bug
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
Due: vortex-filtering-filters

Add IPDA test and update IPDA class***
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/test/ipda_test.cpp
Due: vortex-filtering-filters

finished basic testing!
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

"da er ipda ferdig" -Eirik
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
Due: vortex-filtering-filters, vortex-filtering-probability

update package.xml
  vortex-filtering/package.xml
Due: none

fixed ipda :)
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
Due: vortex-filtering-filters

🐛 Refactor PDAF class to be without parameters
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

Added axis tests for PDAF
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

added documentation for PDAF and IPDA to README.md
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
Due: vortex-filtering-filters

Refactor IPDA class and add IPDA unit tests
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/test/ipda_test.cpp
Due: vortex-filtering-filters

Refactor PDAF::predict_next_state to PDAF::step
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

Path conditions:
  vortex-filtering-models: any of: vortex-filtering/include/vortex_filtering/models
  vortex-filtering-filters: any of: vortex-filtering/include/vortex_filtering/filters
  vortex-filtering-numerical-integration: any of: vortex-filtering/include/vortex_filtering/numerical_integration
  vortex-filtering-probability: any of: vortex-filtering/include/vortex_filtering/probability
  vortex-filtering-utils: any of: vortex-filtering/include/vortex_filtering/utils, vortex-filtering/src/utils
