Repository vortexntnu/vortex-vkf: changes, and which Codecov flags are due for each by the changed paths.
All: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-numerical-integration, vortex-filtering-probability, vortex-filtering-utils

codecov.yml:

fixes:
  - "ros_ws/src/*/vortex-vkf/::"

comment:
  layout: "header, diff, flags, components"
 
coverage:
  status:
    project: off
    patch: off

flag_management:
  individual_flags:
     - name: vortex-filtering
       paths:
        - vortex-filtering/include/vortex_filtering/
       statuses:
        - type: project
          target: auto
          threshold: 1%


component_management:
  individual_components:
    - component_id: vortex-filtering-models
      paths:
        - vortex-filtering/include/vortex_filtering/models
    - component_id: vortex-filtering-filters
      paths:
        - vortex-filtering/include/vortex_filtering/filters
    - component_id: vortex-filtering-numerical-integration
      paths:
        - vortex-filtering/include/vortex_filtering/numerical_integration
    - component_id: vortex-filtering-probability
      paths:
        - vortex-filtering/include/vortex_filtering/probability
    - component_id: vortex-filtering-utils
      paths:
        - vortex-filtering/include/vortex_filtering/utils
        - vortex-filtering/src/utils

♻️ Refactor PDAF class and apply static methods
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

Add pragma once directive and update plot objects in pdaf_test.cpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

Finalized PDAF class and added some tests
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

addded some more visualization
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

added docstring and minor changes
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

Added ellipsoid class
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/include/vortex_filtering/types/type_aliases.hpp
  vortex-filtering/include/vortex_filtering/utils/ellipse.hpp
  vortex-filtering/include/vortex_filtering/utils/ellipsoid.hpp
  vortex-filtering/src/utils/ellipse.cpp
  vortex-filtering/src/utils/gamma_function.cpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/ellipsoid_test.cpp
Due: vortex-filtering-probability, vortex-filtering-utils

added doxygen to ellispoid methods that missed it
  vortex-filtering/include/vortex_filtering/utils/ellipsoid.hpp
Due: vortex-filtering-utils

fixed tests. Missing documentation
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

💡 added comments to imm sensor model
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
Due: vortex-filtering-models

Made ipda use ellisoid instead of ellipse
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
Due: vortex-filtering-filters

All tests compile
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/ipda_test.cpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

Added concept for gauss and state
  vortex-filtering/CMakeLists.txt
  vortex-filtering/include/vortex_filtering/types/general_concepts.hpp
  vortex-filtering/include/vortex_filtering/types/model_concepts.hpp
  vortex-filtering/test/types_test.cpp
Due: none

and ellipse
  vortex-filtering/src/utils/ellipse.cpp
Due: vortex-filtering-utils

💡 aesthetics
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/models/state.hpp
Due: vortex-filtering-models, vortex-filtering-filters

fixed mode association update
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
Due: vortex-filtering-filters

✅ made immipda tests
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/include/vortex_filtering/probability/gaussian_mixture.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/src/utils/ellipse.cpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/immipda_test.cpp
  vortex-filtering/test/ipda_test.cpp
  vortex-filtering/test/pdaf_test.cpp
  vortex-filtering/test/probability_test.cpp
Due: vortex-filtering-filters, vortex-filtering-probability, vortex-filtering-utils

cleaned up io structs in pdaf and fixed gnuplot tests
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/ipda_test.cpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

Added state class
  vortex-filtering/include/vortex_filtering/models/state.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/include/vortex_filtering/types/type_aliases.hpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/state_test.cpp
Due: vortex-filtering-models, vortex-filtering-probability

💡 cleaned up comments
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
Due: vortex-filtering-models, vortex-filtering-filters

all tests pass
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

all tests compile
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/probability/gaussian_mixture.hpp
  vortex-filtering/test/immipda_test.cpp
Due: vortex-filtering-filters, vortex-filtering-probability

murtys method
  vortex-filtering/src/utils/algorithms/murtys_method.cpp
Due: vortex-filtering-utils

💡 readded doxygen comments
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
Due: vortex-filtering-filters

Integrated state system into imm filter
  vortex-filtering/include/vortex_filtering/filters/ekf.hpp
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/models/sensor_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/state.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/immipda_test.cpp
  vortex-filtering/test/state_test.cpp
  vortex-filtering/test/types_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-probability

murtys method changes
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/utils/algorithms/auction_algorithm.hpp
  vortex-filtering/include/vortex_filtering/utils/algorithms/murtys_method.hpp
  vortex-filtering/src/utils/algorithms/auction_algorithm.cpp
  vortex-filtering/src/utils/algorithms/murtys_method.cpp
  vortex-filtering/src/utils/algorithms/murtys_method_impl.cpp
  vortex-filtering/src/utils/algorithms/murtys_method_impl.hpp
Due: vortex-filtering-filters, vortex-filtering-utils

streamlined immipda step
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/ipda_test.cpp
Due: vortex-filtering-filters

updated ipda ++
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/src/utils/algorithms/auction_algorithm.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-utils

temporary fix of statenames
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/models/state.hpp
  vortex-filtering/include/vortex_filtering/types/type_aliases.hpp
Due: vortex-filtering-models

✅ Fixed tests by removing tests that fail
  vortex-filtering/test/immipda_test.cpp
Due: none

started making State type independent on a specific enum
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/models/state.hpp
  vortex-filtering/test/state_test.cpp
  vortex-filtering/test/types_test.cpp
Due: vortex-filtering-models

Added ellipsoid class (#21)
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/include/vortex_filtering/types/type_aliases.hpp
  vortex-filtering/include/vortex_filtering/utils/ellipse.hpp
  vortex-filtering/include/vortex_filtering/utils/ellipsoid.hpp
  vortex-filtering/src/utils/ellipse.cpp
  vortex-filtering/src/utils/gamma_function.cpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/ellipsoid_test.cpp
Due: vortex-filtering-probability, vortex-filtering-utils

bugfix
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
Due: vortex-filtering-filters
