Repository vortexntnu/vortex-vkf: changes, and which Codecov flags are due for each by the changed paths.
All: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-numerical-integration, vortex-filtering-probability, vortex-filtering-utils

codecov.yml:

fixes:
  - "ros_ws/src/*/vortex-vkf/::"

comment:
  layout: "header, diff, flags, components"
 
coverage:
  status:
    project: off
    patch: off

flag_management:
  individual_flags:
     - name: vortex-filtering
       paths:
        - vortex-filtering/include/vortex_filtering/
       statuses:
        - type: project
          target: auto
          threshold: 1%


component_management:
  individual_components:
    - component_id: vortex-filtering-models
      paths:
        - vortex-filtering/include/vortex_filtering/models
    - component_id: vortex-filtering-filters
      paths:
        - vortex-filtering/include/vortex_filtering/filters
    - component_id: vortex-filtering-numerical-integration
      paths:
        - vortex-filtering/include/vortex_filtering/numerical_integration
    - component_id: vortex-filtering-probability
      paths:
        - vortex-filtering/include/vortex_filtering/probability
    - component_id: vortex-filtering-utils
      paths:
        - vortex-filtering/include/vortex_filtering/utils
        - vortex-filtering/src/utils

Added concept for gauss and state
  vortex-filtering/CMakeLists.txt
  vortex-filtering/include/vortex_filtering/types/general_concepts.hpp
  vortex-filtering/include/vortex_filtering/types/model_concepts.hpp
  vortex-filtering/test/types_test.cpp
Due: none

murtys method changes
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/utils/algorithms/auction_algorithm.hpp
  vortex-filtering/include/vortex_filtering/utils/algorithms/murtys_method.hpp
  vortex-filtering/src/utils/algorithms/auction_algorithm.cpp
  vortex-filtering/src/utils/algorithms/murtys_method.cpp
  vortex-filtering/src/utils/algorithms/murtys_method_impl.cpp
  vortex-filtering/src/utils/algorithms/murtys_method_impl.hpp
Due: vortex-filtering-filters, vortex-filtering-utils

fixed mode association update
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
Due: vortex-filtering-filters

💡 added comments to imm sensor model
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
Due: vortex-filtering-models

Added state class
  vortex-filtering/include/vortex_filtering/models/state.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/include/vortex_filtering/types/type_aliases.hpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/state_test.cpp
Due: vortex-filtering-models, vortex-filtering-probability

murtys method
  vortex-filtering/src/utils/algorithms/murtys_method.cpp
Due: vortex-filtering-utils

✅ made immipda tests
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/include/vortex_filtering/probability/gaussian_mixture.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/src/utils/ellipse.cpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/immipda_test.cpp
  vortex-filtering/test/ipda_test.cpp
  vortex-filtering/test/pdaf_test.cpp
  vortex-filtering/test/probability_test.cpp
Due: vortex-filtering-filters, vortex-filtering-probability, vortex-filtering-utils

✅ Fixed tests by removing tests that fail
  vortex-filtering/test/immipda_test.cpp
Due: none

all tests pass
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

💡 cleaned up comments
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
Due: vortex-filtering-models, vortex-filtering-filters

and ellipse
  vortex-filtering/src/utils/ellipse.cpp
Due: vortex-filtering-utils

Made ipda use ellisoid instead of ellipse
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
Due: vortex-filtering-filters

💡 aesthetics
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/models/state.hpp
Due: vortex-filtering-models, vortex-filtering-filters

💡 readded doxygen comments
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
Due: vortex-filtering-filters

fixed tests. Missing documentation
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

bugfix
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
Due: vortex-filtering-filters

updated run unit tests yml
  .github/workflows/run-unit-tests.yml
Due: none

updated codecov action
  .github/workflows/run-unit-tests.yml
Due: none

disabled testing on other things than humble for now
  .github/workflows/run-unit-tests.yml
Due: none

fix
  .github/workflows/run-unit-tests.yml
Due: none

10 task immipda (#22)
  .github/workflows/run-unit-tests.yml
  vortex-filtering/CMakeLists.txt
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/filters/ekf.hpp
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/models/sensor_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/state.hpp
  vortex-filtering/include/vortex_filtering/probability/gaussian_mixture.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/include/vortex_filtering/types/general_concepts.hpp
  vortex-filtering/include/vortex_filtering/types/model_concepts.hpp
  vortex-filtering/include/vortex_filtering/utils/algorithms/auction_algorithm.hpp
  vortex-filtering/include/vortex_filtering/utils/algorithms/murtys_method.hpp
  vortex-filtering/src/utils/algorithms/auction_algorithm.cpp
  vortex-filtering/src/utils/algorithms/murtys_method.cpp
  vortex-filtering/src/utils/algorithms/murtys_method_impl.cpp
  vortex-filtering/src/utils/algorithms/murtys_method_impl.hpp
  vortex-filtering/src/utils/ellipse.cpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/immipda_test.cpp
  vortex-filtering/test/ipda_test.cpp
  vortex-filtering/test/pdaf_test.cpp
  vortex-filtering/test/probability_test.cpp
  vortex-filtering/test/state_test.cpp
  vortex-filtering/test/types_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-probability, vortex-filtering-utils

Added constant pose model
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
Due: vortex-filtering-models

Started making framework for lie algebra estimation
  .clang-format
  vortex-filtering/CMakeLists.txt
  vortex-filtering/include/vortex_filtering/filters/iekf.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/interfaces/dynamic_model.hpp
  vortex-filtering/include/vortex_filtering/models/interfaces/dynamic_model_ltv.hpp
  vortex-filtering/include/vortex_filtering/models/interfaces/general_model.hpp
  vortex-filtering/include/vortex_filtering/models/interfaces/sensor_model.hpp
  vortex-filtering/include/vortex_filtering/models/interfaces/sensor_model_ltv.hpp
  vortex-filtering/include/vortex_filtering/probability/lie_group_gauss.hpp
  vortex-filtering/include/vortex_filtering/types/type_aliases.hpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/lie_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-probability

constant position xyz model
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
Due: vortex-filtering-models

added z ori to constpose model
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
Due: vortex-filtering-models

23 task add dynamic model for constant pose filtering (#24)
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
Due: vortex-filtering-models

ConstantDynamicModel
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
Due: vortex-filtering-models

testing with --no-verify flag to stop pre-commit hooks
  vortex-filtering/README.md
Due: none

bot, let me [skip ci]
  vortex-filtering/README.md
Due: none

adding empty .pre-commit-config.yaml file
  .pre-commit-config.yaml
Due: none

remove again, no luck
  .pre-commit-config.yaml
Due: none

attempting to remove some leftover pre-commit hook settings
  .github/workflows/run-unit-tests.yml
Due: none

add empty config file, have to accept the red cross
  .pre-commit-config.yaml
Due: none

ConstantDynamicModel (#25)
  .github/workflows/run-unit-tests.yml
  .pre-commit-config.yaml
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
Due: vortex-filtering-models

ci: add ci workflows, config files and remove deprecated workflows
  .clang-format
  .github/workflows/clang-formatter.yml
  .github/workflows/code-coverage.yml
  .github/workflows/industrial-ci.yml
  .github/workflows/run-unit-tests.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  codecov.yml
  ruff.toml
  scripts/ci_install_dependencies.sh
Due: none

fix: ensure code coverage works with GCC 13 by installing matching gcov and lcov
  scripts/ci_install_dependencies.sh
Due: none

docs(README.md): add status badges
  vortex-filtering/README.md
Due: none
