Repository vortexntnu/vortex-vkf: changes, and which Codecov flags are due for each by the changed paths.
All: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-numerical-integration, vortex-filtering-probability, vortex-filtering-utils

codecov.yml:

fixes:
  - "ros_ws/src/*/vortex-vkf/::"

comment:
  layout: "header, diff, flags, components"
 
coverage:
  status:
    project: off
    patch: off

flag_management:
  individual_flags:
     - name: vortex-filtering
       paths:
        - vortex-filtering/include/vortex_filtering/
       statuses:
        - type: project
          target: auto
          threshold: 1%


component_management:
  individual_components:
    - component_id: vortex-filtering-models
      paths:
        - vortex-filtering/include/vortex_filtering/models
    - component_id: vortex-filtering-filters
      paths:
        - vortex-filtering/include/vortex_filtering/filters
    - component_id: vortex-filtering-numerical-integration
      paths:
        - vortex-filtering/include/vortex_filtering/numerical_integration
    - component_id: vortex-filtering-probability
      paths:
        - vortex-filtering/include/vortex_filtering/probability
    - component_id: vortex-filtering-utils
      paths:
        - vortex-filtering/include/vortex_filtering/utils
        - vortex-filtering/src/utils

Finished converting all types. All tests pass
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/test/imm_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters

made a concept to check for matrix sizes
  vortex-filtering/include/vortex_filtering/filters/ekf.hpp
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/types/general_concepts.hpp
  vortex-filtering/include/vortex_filtering/types/model_concepts.hpp
  vortex-filtering/test/types_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters

Removed all signs of the old DynModI and SensModI stuff
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/models/README.md
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/models/sensor_model_interfaces.hpp
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/types_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters

refactored ekf and ukf to not be dependent on having sizes defined
  vortex-filtering/CMakeLists.txt
  vortex-filtering/include/vortex_filtering/filters/ekf.hpp
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
Due: vortex-filtering-filters

refactored imm model and filter to utilize ekf and ukf changes
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
Due: vortex-filtering-models, vortex-filtering-filters

try to make gh action use gcc 13
  .github/workflows/run-unit-tests.yml
Due: none

fixed include and readme
  vortex-filtering/include/vortex_filtering/models/README.md
  vortex-filtering/include/vortex_filtering/vortex_filtering.hpp
Due: vortex-filtering-models

Feature/better imm filter (#8)
  .clang-format
  .github/workflows/run-unit-tests.yml
  .gitignore
  README.md
  docs/vkf_class_diagram.md
  vortex-filtering/CMakeLists.txt
  vortex-filtering/README.md
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/filters/ekf.hpp
  vortex-filtering/include/vortex_filtering/filters/imm_filter.hpp
  vortex-filtering/include/vortex_filtering/filters/ukf.hpp
  vortex-filtering/include/vortex_filtering/models/README.md
  vortex-filtering/include/vortex_filtering/models/dynamic_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/dynamic_models.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/include/vortex_filtering/models/sensor_model_interfaces.hpp
  vortex-filtering/include/vortex_filtering/models/sensor_models.hpp
  vortex-filtering/include/vortex_filtering/numerical_integration/erk_methods.hpp
  vortex-filtering/include/vortex_filtering/probability/gaussian_mixture.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
  vortex-filtering/include/vortex_filtering/probability/poisson.hpp
  vortex-filtering/include/vortex_filtering/probability/uniform.hpp
  vortex-filtering/include/vortex_filtering/types/general_concepts.hpp
  vortex-filtering/include/vortex_filtering/types/model_concepts.hpp
  vortex-filtering/include/vortex_filtering/types/type_aliases.hpp
  vortex-filtering/include/vortex_filtering/utils/printers.hpp
  vortex-filtering/include/vortex_filtering/vortex_filtering.hpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/dynamic_model_test.cpp
  vortex-filtering/test/ekf_test.cpp
  vortex-filtering/test/gtest_assertions.cpp
  vortex-filtering/test/imm_test.cpp
  vortex-filtering/test/numerical_integration_test.cpp
  vortex-filtering/test/probability_test.cpp
  vortex-filtering/test/sensor_model_test.cpp
  vortex-filtering/test/test_models.hpp
  vortex-filtering/test/types_test.cpp
  vortex-filtering/test/ukf_test.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-numerical-integration, vortex-filtering-probability, vortex-filtering-utils

Created new branch feature/pdaf
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

finished basic testing!
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

Added axis tests for PDAF
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

Finalized PDAF class and added some tests
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

✅ added more tests
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

addded some more visualization
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

🐛 Refactor PDAF class to be without parameters
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

Add pragma once directive and update plot objects in pdaf_test.cpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

⚡️ Refactor plotting code in pdaf_test.cpp
  vortex-filtering/test/pdaf_test.cpp
Due: none

ipda impl
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
Due: vortex-filtering-filters

🚀 reformat code
  vortex-filtering/test/pdaf_test.cpp
Due: none

Refactor IPDA class and add IPDA unit tests
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/test/ipda_test.cpp
Due: vortex-filtering-filters

fixed gate bug
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
Due: vortex-filtering-filters

Committing clang-format changes
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

fixed ipda :)
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
Due: vortex-filtering-filters

♻️ Refactor PDAF class and apply static methods
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

removed prints
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
Due: vortex-filtering-filters

removed fake pdaf in ipda
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
Due: vortex-filtering-filters

"da er ipda ferdig" -Eirik
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/probability/multi_var_gauss.hpp
Due: vortex-filtering-filters, vortex-filtering-probability

Add IPDA test and update IPDA class***
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/test/ipda_test.cpp
Due: vortex-filtering-filters

💫 adden min and max distance threshold
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/ipda_test.cpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

Refactor PDAF::predict_next_state to PDAF::step
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

refactored pdaf to work with new type system
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/filters/pdaf.hpp
  vortex-filtering/test/CMakeLists.txt
  vortex-filtering/test/ipda_test.cpp
  vortex-filtering/test/pdaf_test.cpp
Due: vortex-filtering-filters

hid plotting inside #define clause
  vortex-filtering/test/pdaf_test.cpp
Due: none

cmake
  vortex-filtering/CMakeLists.txt
Due: none

update package.xml
  vortex-filtering/package.xml
Due: none

update cmake
  vortex-filtering/CMakeLists.txt
Due: none

added documentation for PDAF and IPDA to README.md
  vortex-filtering/include/vortex_filtering/filters/README.md
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
Due: vortex-filtering-filters

murtys method changes
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/utils/algorithms/auction_algorithm.hpp
  vortex-filtering/include/vortex_filtering/utils/algorithms/murtys_method.hpp
  vortex-filtering/src/utils/algorithms/auction_algorithm.cpp
  vortex-filtering/src/utils/algorithms/murtys_method.cpp
  vortex-filtering/src/utils/algorithms/murtys_method_impl.cpp
  vortex-filtering/src/utils/algorithms/murtys_method_impl.hpp
Due: vortex-filtering-filters, vortex-filtering-utils

murtys method
  vortex-filtering/src/utils/algorithms/murtys_method.cpp
Due: vortex-filtering-utils

updated ipda ++
  vortex-filtering/include/vortex_filtering/filters/immipda.hpp
  vortex-filtering/include/vortex_filtering/filters/ipda.hpp
  vortex-filtering/include/vortex_filtering/models/imm_model.hpp
  vortex-filtering/src/utils/algorithms/auction_algorithm.cpp
Due: vortex-filtering-models, vortex-filtering-filters, vortex-filtering-utils
